Repository nephio-project/free5gc: changes, and which Prow jobs are due for each by the changed paths.
All: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

.prow.yaml:

presubmits:
  - name: f5gc-operator-unit-test
    decorate: true
    run_if_changed: "^free5gc-operator/.*.go$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - "/bin/sh"
        args:
        - "-c"
        - |
          cd free5gc-operator/ && make unit

  - name: f5gc-operator-lint
    decorate: true
    run_if_changed: "^free5gc-operator/.*.go$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - "/bin/sh"
        args:
        - "-c"
        - |
          cd free5gc-operator/ && make lint

  - name: f5gc-operator-gosec
    decorate: true
    run_if_changed: "^free5gc-operator/.*.go$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - "/bin/sh"
        args:
        - "-c"
        - |
          cd free5gc-operator/ && make gosec

  - name: f5gc-operator-license-header-check
    decorate: true
    run_if_changed: "^.*.go$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - "/bin/sh"
        args:
        - "-c"
        - |
          cd free5gc-operator/ && "/usr/local/bin/checklicense.sh"

added command segment
  free5gc-operator/controllers/amfdeployment_controller.go
Due: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

AMF controller full code
  free5gc-operator/controllers/amfdeployment_controller.go
  free5gc-operator/controllers/free5gc_amfcfg.go
Due: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

conflict files modified
  free5gc-operator/config/rbac/role.yaml
  free5gc-operator/main.go
Due: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

updated
  free5gc-operator/controllers/amfdeployment_controller_test.go
  free5gc-operator/main.go
Due: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

updated test controller
  free5gc-operator/controllers/amfdeployment_controller_test.go
Due: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

updated test file
  free5gc-operator/controllers/amfdeployment_controller_test.go
Due: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

AMF_Workload_Controller (#18)
  free5gc-operator/config/crd/bases/workload.nephio.org_amfdeployments.yaml
  free5gc-operator/config/rbac/role.yaml
  free5gc-operator/controllers/amfdeployment_controller.go
  free5gc-operator/controllers/amfdeployment_controller_test.go
  free5gc-operator/controllers/free5gc_amfcfg.go
  free5gc-operator/controllers/free5gc_amfsvc.go
  free5gc-operator/main.go
  free5gc-operator/test/amfdeploy.yaml
  free5gc-operator/test/nad/amf-n2-nad.yaml
Due: f5gc-operator-unit-test, f5gc-operator-lint, f5gc-operator-gosec, f5gc-operator-license-header-check

Update smfdeployment_controller.go
  controllers/smfdeployment_controller.go
Due: f5gc-operator-license-header-check

Update smfdeployment_controller_test.go
  controllers/smfdeployment_controller_test.go
Due: f5gc-operator-license-header-check

Update free5gc_smfcfg.go
  controllers/free5gc_smfcfg.go
Due: f5gc-operator-license-header-check

Update amfdeployment_controller.go
  controllers/amfdeployment_controller.go
Due: f5gc-operator-license-header-check

Update utils.go
  controllers/utils.go
Due: f5gc-operator-license-header-check

gotests bump and adding lichen test
  .prow.yaml
Due: none

Update amfdeployment_controller_test.go
  controllers/amfdeployment_controller_test.go
Due: f5gc-operator-license-header-check

Updated to add templatizing dnn name and CIDR pool & config updates, removing extraneous comments, adding SMFService creation
  controllers/free5gc_smfcfg.go
  controllers/smfdeployment_controller.go
Due: f5gc-operator-license-header-check

Updated to working SMF Config template and Utils.go
  controllers/free5gc_smfcfg.go
  controllers/smfdeployment_controller.go
  controllers/utils.go
  test/smfdeploy.yaml
Due: f5gc-operator-license-header-check

Fixed lint errors
  controllers/smfdeployment_controller.go
  controllers/utils.go
Due: f5gc-operator-license-header-check

Free5gc_AMF_Controller (#21)
  controllers/amfdeployment_controller.go
  controllers/amfdeployment_controller_test.go
Due: f5gc-operator-license-header-check

Updated SMF ConfigMap template with dnn.name and pools variables, removed extraneous comments, added SMFService creation, added SMF ConfigMap update code (#22)
  controllers/free5gc_smfcfg.go
  controllers/smfdeployment_controller.go
  controllers/smfdeployment_controller_test.go
  controllers/utils.go
  test/smfdeploy.yaml
Due: f5gc-operator-license-header-check

Change image name in Makefile
  Makefile
Due: none

Fix image name in Makefile
  Makefile
Due: none

denysa: change interface names to lowercase letter in UPFDeployment.
  controllers/smfdeployment_controller_test.go
  controllers/upfdeployment_controller.go
  controllers/upfdeployment_controller_test.go
  controllers/utils_test.go
  test/upfdeploy.yaml
  test/upfdeploy2.yaml
Due: f5gc-operator-license-header-check

Fix image name in Makefile (#24)
  Makefile
Due: none
